**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.azure
**/bin
**/obj
**/publish
**/*.user
**/*.suo
**/*.pdb
**/*.md
.env*
secrets.json
appsettings.Development.json
appsettings.Production.json
appsettings.*.local.json
